# Default ignored files
/shelf/
/workspace.xml
/compiler.xml
# Datasource local storage ignored files
/../../../../../:\shared\pas-mvc\pas-mvc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
