<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>/WEB-INF/faces-config.xml</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
<!--    <session-config>-->
<!--        <session-timeout>-->
<!--            30-->
<!--        </session-timeout>-->
<!--    </session-config>-->

    <default-context-path>
        lib
    </default-context-path>

    <welcome-file-list>
        <welcome-file>common_pages/welcome.xhtml</welcome-file>
    </welcome-file-list>

<!--    Application role declaration-->
    <security-role>
        <role-name>ADMIN</role-name>
    </security-role>
    <security-role>
        <role-name>CLIENT</role-name>
    </security-role>
    <security-role>
        <role-name>WORKER</role-name>
    </security-role>
    
<!--    https redirection -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Secured URLs</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

<!--    Restrictions on access to resources-->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>AdminPages</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>
                ADMIN
            </role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Common pages</web-resource-name>
            <url-pattern>/common_pages/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>
                ADMIN
            </role-name>
            <role-name>
                WORKER
            </role-name>
            <role-name>
                CLIENT
            </role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Rents Panel</web-resource-name>
            <url-pattern>/rent/rentsPanel.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>
                CLIENT
            </role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Rents List</web-resource-name>
            <url-pattern>/rent/rentsList.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>
                WORKER
            </role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Rents List</web-resource-name>
            <url-pattern>/rent/archiveRentsList.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>
                WORKER
            </role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>User Data</web-resource-name>
            <url-pattern>/users/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>
                ADMIN
            </role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>User Summary</web-resource-name>
            <url-pattern>/users/userSummary.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>
                ADMIN
            </role-name>
            <role-name>
                WORKER
            </role-name>
            <role-name>
                CLIENT
            </role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Resources</web-resource-name>
            <url-pattern>/res/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>
                WORKER
            </role-name>
        </auth-constraint>
    </security-constraint>

</web-app>
