body{
    height: 100%;
    margin: 0;
    background: brown;
}
.wrapper{
    padding: 20px;
    margin-bottom: 120px;
}
.footer{
    height: 120px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: aquamarine;
}